Emacs.bak
.luarc.json
fedora-sway
installed_packages.txt
Emacs.org
fedora-sway/
emacs/auto-save-list/
emacs/bookmarks
emacs/.cache/
emacs/custom-vars.el
emacs/eln-cache/
emacs/elpaca/
emacs/history
emacs/.lsp-session
emacs/oauth2-auto.plist
emacs/org-roam.db
emacs/.org*
emacs/persist/
emacs/places
emacs/recentf
emacs/request/
emacs/straight/
emacs/transient/
emacs/tree-sitter/
manual.md
config/nvim/.config/nvim/lazy-lock.json
