* {
  font-family: "Noto Sans Mono", monospace;
  font-size: 12px;
  color: #ffffff;
}

window#waybar {
  background: #222222;
}

#custom-kernel,
#pulseaudio,
#battery,
#clock {
  padding: 0 8px;
}

#workspaces button {
  padding: 0 6px;
  margin: 0 0px;
  font-weight: normal;
  color: #ffffff;
}

#workspaces button.focused {
  background: #444444;
  border-radius: 4px;
}

#workspaces button.active {
  /* background: #333333; */
  /* background: #cba6f7; */
  background: #7fc8ff;
  border-radius: 4px;
}

#workspaces button.urgent {
  background: #cc3300;
  border-radius: 4px;
}
